$defaultSize: 16;

// colors
$main: #5a5adc;
$sub: #3a3ab4;
$gray0: #c4c4c4;
$gray1: #b7c1c8;
$gray2: #333333;
$navy: #2d5fc3;
$sky0: #dff5fe;
$sky1: #afdae9;
$yellow: #fff100;
$black: #000;

.flex {
  &--center {
    @include center;
  }
  &--between {
    @include space-between;
  }
  &--start {
    @include flex-start;
  }
  &--end {
    @include flex-end;
  }
}
